h1 {
    user-select: none;
    cursor: pointer;

    font-size: 7vw;
    font-weight: 100;

    margin: 2vw 0px 0px 0px;
    color: white;
}
h2 {
    user-select: none;
    cursor: pointer;

    font-size: 4vw;
    font-weight: 100;
    line-height: 0.9;

    margin: 0.5vw 0px 1.5vw 0px;
    border-bottom: 2px solid white;
    color: white;
}

h1:hover,
h2:hover {
    transform: scale(1.1);
    transition: transform 0.05s;
}
