.host {
  padding-top: 15vw;
  margin-top: 0px;
  margin-bottom: 0.5vw;

  font-size: 7vw;
  font-weight: 100;
  color: white;
}

.join {
  margin-bottom: 0px;

  font-size: 6vw;
  color: white;
  font-weight: 100;
}

.btn.play.no-select {
  margin: 0px;
}

.input-container {
  padding-top: 0.4vw;
  display: flex;
}
