.user-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-top: 8vw;
}

.user-image {
  width: 12vw;
  height: 12vw;
}

.user-name {
  color: white;
  font-size: 6vw;
  font-weight: 100;
  margin: 0 0 0 2vw;
  padding-top: 4.5vw;
}

.user-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 1vw;
}
.change-user-image {
  color: white;
  margin-top: 0px;
  margin-right: 12.5vw;
}

.change-user-name {
  color: white;
  margin-top: 0px;
  margin-right: 3.5vw;
}

.stats {
  display: flex;
  flex-direction: column;
  margin-top: 3vw;
  align-items: left;
  width: 35vw;
}

.stats h3 {
  color: white;
  font-weight: 100;
  font-size: 3vw;
  margin: 0px;
  padding: 0 0 1vw 0;

  display: flex;
  justify-content: space-between;
}
