.card {
    width: 4vw;
    transition: transform 0.2s, filter 0.2s;
}

.card.unlocked {
    cursor: pointer;
}

/* Only unlocked cards should respond to hover */
.card.unlocked:hover {
    transform: scale(1.05);
    filter: brightness(0.8);
}

.card.selected {
    border-radius: 6px;
    border-style: dashed;
}

@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 5px 2px rgb(255, 255, 255);
    }
    50% {
        box-shadow: 0 0 10px 3px rgb(255, 255, 255);
    }
    100% {
        box-shadow: 0 0 5px 2px rgb(255, 255, 255);
    }
}
