.common-area {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.25vw;
}

.play-spot {
    width: 3.4vw;
    height: 5vw;
    margin: 0.7vw 0.9vw 0.7vw 0.9vw;
    padding: 0.25vw;
    outline: 3px solid white;
    outline-offset: 0.5vw;
    border-radius: 0.5vw;
}
