.user-box {
    position: absolute;
    top: 2vw;
    right: 2vw;
    display: flex;
    flex-direction: row;
    user-select: none;
    align-items: center;
}

.icon img {
    width: 5vw;
    height: 5vw;
    margin-right: 1vw;
    border-radius: 100%;
    user-select: none;
    -webkit-user-drag: none;
}

.username {
    color: white;
    font-size: 2.5vw;
}

.icon img:hover,
.username:hover,
.user-box:hover .icon img,
.user-box:hover .username {
    transform: scale(1.05);
}
